.index {
}

.banner {
    display: flex;

    .tool {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px;
        gap: 4px;
        margin-left: 4px;
    }
}

.post {
    margin-top: 10px;
}
