.index {
}

.tool {
    display: grid;
    grid-template-columns: auto 140px 140px 140px;
    grid-template-rows: 50px;
    gap: 10px;

    .toolItem {
        span {
            letter-spacing: 1.2px;
            padding-left: 4px;
        }
    }
}
.post {
    margin-top: 10px;
    p {
        line-height: 1.5;
    }
}

.photo {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    border-radius: 4px;
    gap: 4px;
    overflow: hidden;

    .photoImage {
        width: 100%;
        height: 100%;
    }
}

.simpleEmpty {
    text-align: center;
    padding: 20px 0;
    color: #777;
    opacity: 0;
}

@media only screen and (max-width: 900px) {
    .tool {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        gap: 10px;
    }
}
